/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    /* Colours */
    --_hue-primary: 350;
    --_hue-secondary: 260;

    /* Light Mode */
    --bkg--light: var(--_hue-secondary) 25% 95%;
    --txt--light: var(--_hue-primary) 40% 5%;
    --accent--light: var(--_hue-primary) 70% 60%;
    --muted--light: var(--_hue-secondary) 10% 80%;
    /* Dark Mode */
    --bkg--dark: var(--_hue-secondary) 15% 10%;
    --txt--dark: var(--_hue-primary) 15% 90%;
    --accent--dark: var(--_hue-primary) 80% 70%;
    --muted--dark: var(--_hue-secondary) 15% 30%;

    --bkg: var(--bkg--light);
    --txt: var(--txt--light);
    --accent: var(--accent--light);
    --muted: var(--muted--light);
    color-scheme: light;

    & :focus-visible {
        outline: solid 1px hsl(var(--accent) / 0.5);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bkg: var(--bkg--dark);
        --txt: var(--txt--dark);
        --accent: var(--accent--dark);
        --muted: var(--muted--dark);
        color-scheme: dark;
    }
}

body {
    color: hsl(var(--txt));
    background-color: hsl(var(--bkg));
    max-width: 64rem;
    margin: 2rem auto;
    padding: 0 1rem;
}

main {
    display: grid;
    grid-template-columns: 2fr 4fr;
    column-gap: 6rem;
    margin-top: 2rem;
}

form,
.preview {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

form > section {
    display: flex;
    flex-direction: column;
    gap: 0.825rem;
}

label {
    display: block;
}

input {
    width: 100%;
}

button {
    padding: 0.5rem 0;
    color: hsl(var(--txt));
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
        color: hsl(var(--accent));
    }
}

/* Styling for the document preview */
.document {
    background-color: white;
    color: hsl(var(--txt--light) / 0.75);
}

.document > * {
    padding: 2rem;
}

.pageHeader {
    color: white;
    background-color: hsl(var(--accent--light));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem 2rem 1rem;
}

.name {
    font-weight: 700;
    font-size: 1.75rem;
}

.contact {
    display: flex;
    gap: 1.5rem;
}

.sectionTitle {
    font-size: 1.25rem;
    border-top: 2px solid hsl(var(--accent));
    font-weight: 700;
}

.skillsList {
    display: flex;
    gap: 0.875rem;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 0.5rem;
    padding-left: 0;

    & > li {
        background-color: hsl(var(--accent) / 0.2);
        color: hsl(var(--accent--light));
        border-radius: 12px;
        padding: 0 12px;
    }
}
